{% extends 'base.html.twig' %}

{% block content %}
    <h1>Agees list</h1>

    <table>
        <thead>
            <tr>
                <th>Cin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Adresse</th>
                <th>Donation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agee in agees %}
            <tr>
                <td><a href="{{ path('agee_show', { 'id': agee.id }) }}">{{ agee.id }}</a></td>
                <td>{{ agee.nom }}</td>
                <td>{{ agee.prenom }}</td>
                <td>{{ agee.age }}</td>
                <td>{{ agee.adresse }}</td>
                <td>{{ agee.donation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('agee_show', { 'id': agee.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('agee_edit', { 'id': agee.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('agee_new') }}">Create a new agee</a>
        </li>
    </ul>
{% endblock %}
