{% extends 'base.html.twig' %}

{% block content %}
    <h1>Opportunities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idassoc</th>
                <th>Domaine</th>
                <th>Descr</th>
                <th>Jd</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Limitdate</th>
                <th>Adr</th>
                <th>Img1</th>
                <th>Img2</th>
                <th>Img3</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opportunity in opportunities %}
            <tr>
                <td><a href="{{ path('opportunity_show', { 'id': opportunity.id }) }}">{{ opportunity.id }}</a></td>
                <td>{{ opportunity.idAssoc }}</td>
                <td>{{ opportunity.domaine }}</td>
                <td>{{ opportunity.descr }}</td>
                <td>{{ opportunity.jd }}</td>
                <td>{% if opportunity.startDate %}{{ opportunity.startDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if opportunity.endDate %}{{ opportunity.endDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if opportunity.limitDate %}{{ opportunity.limitDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ opportunity.adr }}</td>
                <td>{{ opportunity.img1 }}</td>
                <td>{{ opportunity.img2 }}</td>
                <td>{{ opportunity.img3 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('opportunity_show', { 'id': opportunity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('opportunity_edit', { 'id': opportunity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('opportunity_new') }}">Create a new opportunity</a>
        </li>
    </ul>
{% endblock %}
