{% extends 'base.html.twig' %}

{% block content %}
    <div class="clearfix"></div>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="banner two">
        <h2>Ajouter un événement</h2>

    </div>
    </div>
    <!--banner-bottom-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <form class="form-horizontal" action='' method="POST">
        <fieldset>
            <div class="row" style="margin-bottom: 50px; margin-top: 50px">
                <div class="col-md-4 col-sm-4"></div>
                <div class="col-md-4 col-sm-4 mt-4">
            {{ form_start(f, { 'attr': {'novalidate': 'novalidate'}} ) }}
            <div id="legend">
                <legend class="">Ajouter un événement</legend>
            </div>



            <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="username">Nom</label>
                <div class="controls">
                    {{ form_widget(f.nom, { 'attr': {'class': 'input-xlarge'}} ) }}
                    <span>{{ form_errors(f.nom) }}</span>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">Désription</label>
                <div class="controls">
                     {{ form_widget(f.description, { 'attr': {'class': 'input-xlarge'}} ) }}
                    <span>{{ form_errors(f.description) }}</span>

                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Date</label>
                <div class="controls">
                    {{ form_widget(f.date, { 'attr': {'class': 'input-xlarge'}} ) }}
                    <span>{{ form_errors(f.date) }}</span>
                </div>
            </div>

            <div class="control-group">
                <!-- Password -->
                <label class="control-label"  for="password_confirm">Capacité </label>
                <div class="controls">
                    {{ form_widget(f.capacite, { 'attr': {'class': 'input-xlarge'}} ) }}
                    <span>{{ form_errors(f.capacite) }}</span>
                </div>
            </div>

            <div class="control-group">
                <!-- Password -->
                <label class="control-label"  for="password_confirm">Prix </label>
                <div class="controls">
                    {{ form_widget(f.prix, { 'attr': {'class': 'input-xlarge'}} ) }}
                    <span>{{ form_errors(f.prix) }}</span>
                </div>
            </div>

            <div class="control-group">
                <!-- Password -->
                <label class="control-label"  for="password_confirm">Lieu</label>
                <div class="controls">
                    {{ form_widget(f.lieu, { 'attr': {'class': 'input-xlarge'}} ) }}
                    <span>{{ form_errors(f.lieu) }}</span>
                </div>
            </div>


            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success" type="submit" id="submit">Confirmer</button>
                </div>
            </div>
            {{ form_end(f) }}
        </fieldset>
        </div>
    </form>
    <script>


        $('#projectbundle_evenement_prix').keyup(function () {


            $.ajax({

                success: function (data) {
                    var x=$('#projectbundle_evenement_prix').val();


                    if (x < 15 || x >100  ) {
                        alert('le prix doit etre compris entre 15 et 100');


                        $('#submit').prop('disabled', true);

                    } else {

                        $('#submit').prop('disabled', false);
                    }
                }
            });


        });
    </script>
    <script>


        $('#projectbundle_evenement_capacite').keyup(function () {


            $.ajax({

                success: function (data) {
                    var x=$('#projectbundle_evenement_capacite').val();


                    if (x < 9 || x >250  ) {
                        alert('la capacité doit etre comprise entre 10 et 250');


                        $('#submit').prop('disabled', true);

                    } else {

                        $('#submit').prop('disabled', false);
                    }
                }
            });


        });
    </script>

{% endblock %}