{% extends 'base.html.twig' %}

{% block content %}
    <h1>Opportunity</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opportunity.id }}</td>
            </tr>
            <tr>
                <th>Idassoc</th>
                <td>{{ opportunity.idAssoc }}</td>
            </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ opportunity.domaine }}</td>
            </tr>
            <tr>
                <th>Descr</th>
                <td>{{ opportunity.descr }}</td>
            </tr>
            <tr>
                <th>Jd</th>
                <td>{{ opportunity.jd }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if opportunity.startDate %}{{ opportunity.startDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if opportunity.endDate %}{{ opportunity.endDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Limitdate</th>
                <td>{% if opportunity.limitDate %}{{ opportunity.limitDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Adr</th>
                <td>{{ opportunity.adr }}</td>
            </tr>
            <tr>
                <th>Img1</th>
                <td>{{ opportunity.img1 }}</td>
            </tr>
            <tr>
                <th>Img2</th>
                <td>{{ opportunity.img2 }}</td>
            </tr>
            <tr>
                <th>Img3</th>
                <td>{{ opportunity.img3 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('opportunity_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('opportunity_edit', { 'id': opportunity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
