{% extends 'EspaceAdmin.html.twig' %}

{% block content %}
    <div class="container" >
        <br />
        <h2 align="center"></h2><br />
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"></span>
                <input type="text" name="search_text" id="search_text" style="width: 300px;" placeholder="Search" class="form-control" />
            </div>
        </div>

        <br />
        <form>
            <div id="result">
            </div>

        </form>


    </div>



    <div class="col-lg-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gestion des evenements</h4>
                <div class="col-sm-6 col-md-4 col-lg-3"> <a href="{{ path('ajouterEvenement') }}"> <i class="ti-plus"></i> Ajouter Evenement</a></div>

                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="table-danger">
                            <th>Identifiant</th>
                            <th>Nom</th>
                            <th>créateur</th>
                            <th>Lieu</th>
                            <th>Date</th>
                            <th>Capacité</th>
                            <th>Prix</th>
                            <th>Nombre des participants</th>
                            <th>Déscription</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for e in evenement %}
                        <tr class="table-info">
                            <td>{{ e.reference }}</td>
                            <td>{{ e.nom }}</td>
                            <td>{{ e.createur }}</td>
                            <td>{{ e.lieu }}</td>
                            <td>{{ e.date|date }}</td>
                            <td>{{ e.capacite }}</td>
                            <td>{{ e.prix }}</td>
                            <td>{{ e.nbParticipant }}</td>
                            <td>{{ e.description }}</td>

                            <td>
                                <a href="{{ path('modifierEvenement', {'reference': e.reference}) }}"> Modifier</a>
                                <a href="{{ path('supprimerEvenement', {'reference': e.reference}) }}" >Supprimer</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js">
    </script>
    <script  type="text/javascript" >
        $(document).ready(function () {
            $('#search_text').keyup(function(){
                var search = $('#search_text').val();
                $.ajax({
                    url:"{{ path('search_ajax') }}",
                    type:'POST',
                    data:{'nom':search},

                    success:function(data)
                    {

                        if(search!=""){
                            console.log('cv');

                            var output =
                                "<div class='table-responsive'>"+
                                "<table id='tab' class='table table bordered'>"+
                                "<tr style='color: saddlebrown'>"+
                                "<th>"+"Evenement"+"</th>"+
                                "<th>"+"Createur"+"</th>"+
                                "<th>"+"Prix"+"</th>"+
                                "<th>"+"Description"+"</th>"+
                                "<th>"+"lieu"+"</th>"+
                                "<th>"+"Capacité"+"</th>"+
                                "<th>"+"Nombre de participant"+"</th>";


                            $.each(data,function(key,val){
                                var id=val.reference;
                                var path = '{{ path('modifierEvenement',{'reference': 'x'}) }}'
                                path = path.replace("x",id);
                                var path0 = '{{ path('supprimerEvenement',{'reference': 'xx'}) }}'
                                path0 = path0.replace("xx",id);
                                console.log(id);



                                output+=
                                    "<a href=''>"+
                                    "<tr >"+
                                    "<td style='color: darkorange'>"+val.nom+
                                    "<td>"+val.createur+ "</td>"+
                                    "<td>"+val.prix+"</td>"+
                                    "<td>"+val.description+"</td>"+
                                    "<td>"+val.lieu+"</td>"+
                                    "<td>"+val.capacite+"</td>"+
                                    "<td>"+val.nbParticipant+"</td>"+

                                    "</td>"

                                "</tr> visit </a>";







                            });
                            output+="<ul>";
                            $("#result").html(output);

                        }
                        else{
                            $('#result').html("");
                        }
                    }

                });});});


    </script>





{% endblock %}