{% extends 'base.html.twig' %}

{% block content %}
    <h1>Agee</h1>

    <table>
        <tbody>
            <tr>
                <th>Cin</th>
                <td>{{ agee.cin }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ agee.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ agee.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ agee.age }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ agee.adresse }}</td>
            </tr>
            <tr>
                <th>Donation</th>
                <td>{{ agee.donation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('agee_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('agee_edit', { 'cin': agee.cin }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
