{% extends 'base.html.twig' %}

{% block content %}
    <h1>Aides list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Donation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aide in aides %}
            <tr>
                <td><a href="{{ path('aide_show', { 'id': aide.id }) }}">{{ aide.id }}</a></td>
                <td>{{ aide.donation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('aide_show', { 'id': aide.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('aide_edit', { 'id': aide.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('aide_new') }}">Create a new aide</a>
        </li>
    </ul>
{% endblock %}
