{% extends 'base.html.twig' %}

{% block content %}












    <div class="donations">
        <div class="container">
            <div class="col-md-8 donate-right">
                <div class="donate-top">
                    <h3>Pay with Credit card or Login</h3>
                    <form>



                        {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="clearfix"></div>
                        <div>
                            <span>Type<label>:</label></span>
                            {{ form_widget(edit_form.typeDemande) }}
                            {{ form_errors (edit_form.typeDemande) }}
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <span>Titre<label>:</label></span>
                            {{ form_widget(edit_form.titreDemande) }}
                            {{ form_errors(edit_form.titreDemande) }}
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <span>Description<label>:</label></span>
                            {{ form_widget(edit_form.descriptionDemande) }}
                            {{ form_errors(edit_form.descriptionDemande) }}
                        </div>

                        <div class="clearfix"> </div>
                        <input type="submit" value="Edit">

                        {{ form_end(edit_form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>











    <ul>
        <li>
            <a href="{{ path('demande_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
