{% extends 'EspaceAdmin.html.twig' %}

{% block content %}

    <div class="card-body">
        <h4 class="card-title">LISTE DES REFUGIES </h4>
        <p class="card-description">
            <a href="{{ path('project_AjouterRef') }}">
                <button type="button" class="btn btn-success btn-rounded btn-fw">NOUVEAU</button>
            </a>
        </p>
        <script src="{{ asset('js/sorttable.js') }}"></script>
        <div class="table-responsive">
            <table id="contenu" class="sortable" width="100%" >
                <thead>
                <tr>
                    <th>
                        Nom
                    </th>
                    <th>
                        Prenom
                    </th>
                    <th>
                        Pays
                    </th>
                    <th>
                        Etat Civil
                    </th>

                    <th>
                        Age
                    </th>

                    <th>
                        Gender
                    </th>
                    <th>
                        Image
                    </th>

                    <th>
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for r in Refugies %}
                    <tr>
                        <td>{{ r.nomref }}</td>
                        <td>{{ r.prenomref }}</td>
                        <td>{{ r.paysref }}</td>
                        <td>{{ r.etatref }}</td>
                        <td>{{ r.ageref }}</td>
                        <td>{{ r.genderref }}</td>
                        <td>{{ r.image }}</td>                                                <td>

                            <a href="{{ path('project_ModifierRef',{idref:r.idref}) }}">
                                <button type="button"
                                        class="btn btn-success btn-rounded btn-icon">
                                    <i class="ti-pencil"></i>
                                </button>
                            </a>

                            <a href="{{ path('project_SupprimerRef',{idref:r.idref}) }}">
                                <button type="button"
                                        class="btn btn-danger btn-rounded btn-icon">
                                    <i class="ti-trash"></i>
                                </button>
                            </a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="{{ asset('jquery-3.1.1.js') }}"></script>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searsh");
            filter = input.value.toUpperCase();
            table = document.getElementById("contenu");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }

            }
        }
    </script>


{% endblock %}

