{% extends 'Base.html.twig' %}

{% block content %}

    <div class="clearfix"></div>
    <div class="banner two">
        <h2>Demandes de don</h2>
    </div>
    <br>
    <ul>
        <li>
            {% if is_granted('ROLE_ASSO') %}
            <span class="button"><a class="read trd" href="{{ path('demande_new') }}"> + demande</a></span>
            {% endif %}
            <span class="button"><a class="read trd" href="{{ path('liste_demande_pdf') }}">imprimer la liste</a></span>
        </li>
    </ul>

    <div class="col-lg-offset-6">

        <div class="input-group custom-search-form">
            <input type="text" id="search" class="form-control" placeholder="Chercher...">
        </div>
        <!-- /input-group -->

        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="entitiesNav">
                </ul>
            </li>
        </ul>
    </div>




    <!-- jQuery is necessary -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 3;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('ajaxx_search') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value==$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key == 'demandes') {
                                            if (id != 'error') {
                                                console.log(value[1]);
                                                entitySelector.append('<li><b>'+value[1]+'</b><a href="/ProjetPI/web/app_dev.php/demande/show/'+id+'">'+'<img src="/ProjetPI/web/images/'+value[0]+'" style="width: 50px; height: 50px"/>'+'</a></li>');
                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>



















<div class="blog-section">
    {% for demande in demandes %}
    <div class="container">
        <div class="blog-top">
            <div class="col-md-6 grid_3">
                <h3><a href={{ path('demande_show', { 'id': demande.id }) }}>{{ demande.titreDemande }}</a></h3>
                <a href={{ path('demande_show', { 'id': demande.id }) }}><img src="{{ asset('images/' ~ demande.photoDemande) }}" height="380" width="455" alt=""/></a>
                <div class="blog-poast-admin">

                </div>
                <div class="blog-poast-info">
                    <ul>
                        <li><i class="admin"> </i><a class="admin" href="#"><span> </span> {{ demande.typeDemande }} </a></li>
                    </ul>

                </div>
                <p>{{ demande.descriptionDemande }}</p>
                <div class="button"><a class="read trd" href={{ path('demande_show', { 'id': demande.id }) }}>afficher + </a></div>
            </div>
    {% endfor %}




            </div>
        </div>
    </div>
</div>

{% endblock %}
