{% extends 'base.html.twig' %}

{% block content %}


    <div class="clearfix"></div>
    <div class="banner two">
        <h2>Demande de don</h2>
    </div>








<div class="blog-section">
    <div class="container">
        <div class="blog-top">
            <div class="grid_3 two">
                <h3>{{ demande.titreDemande }}</h3>
                <img src="{{ asset('images/' ~ demande.photoDemande) }}" width="1140" alt=""/>
                <div class="blog-poast-info">
                    <ul>
                        <li><i class="admin"> </i>{{ donations|length }} donations de type {{ demande.typeDemande }}</li>
                    </ul>
                </div>
                <p>{{ demande.descriptionDemande }}</p>
                <p>

                <span class="button"><a class="read trd" href="{{ path('demande_index') }}">Retour à la liste</a></span>
                    {% if is_granted('ROLE_ASSO') %}
                    <span class="button"><a class="read trd" href="{{ path('donationfiltre_index', { 'id': demande }) }}">Liste de donations</a></span>
                    {% endif %}
                    {% if is_granted('ROLE_VOLUN') %}
                    <span class="button"><a class="read trd" href="{{ path('donation_neww', { 'id': demande }) }}">ajouter don</a></span>
                    {% endif %}
                    <span class="button"><a class="read trd" href="{{ path('demande_pdf', { 'id': demande }) }}">imprimer</a></span>



                    {% if is_granted('ROLE_ASSO') %}
                    <span class="button" type="submit" value="Delete"><a class="read trd"  href="{{ path('demande_delete', { 'id': demande.id }) }}">Effacer la Demande</a></span>
                    {% endif %}
                </p>

            </div>
        </div>
    </div>
</div>


{% endblock %}


















