{% extends 'base.html.twig' %}

{% block content %}
    <h1>Aide</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aide.id }}</td>
            </tr>
            <tr>
                <th>Donation</th>
                <td>{{ aide.donation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('aide_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('aide_edit', { 'id': aide.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
