{% extends 'base.html.twig' %}

{% block content %}
    <!-- Search banner end -->

    <!-- Properties section body start -->
    <div class="properties-section-body content-area">
    <div class="container">
    <div class="row">
    <div class="col-lg-10  col-lg-offset-1">



    <!-- Option bar start -->
    <div class="option-bar">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-5 col-xs-2">
                <h4>
                                <span class="heading-icon">
                                    <i class="fa fa-th-list"></i>
                                </span>
                    <span class="hidden-xs">Evenement  List</span>
                </h4>
            </div>

            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-10 cod-pad">
                <div class="sorting-options">

                    <a href="{{ path('event_index') }}" class="change-view-btn active-view-btn"><i class="fa fa-th-list"></i></a>

                </div>
            </div>
        </div>
    </div>
    <!-- Option bar end -->

    <!-- Listing properties start -->
    <div class="table">
    {% for e in evenement %}
    <div class="my-properties-box wow fadeInUp delay-03s clearfix">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-pad my-propertie-theme">


            <span class="tag-f-left">
                            <a href="{{ path('event_attend', {'id': evenement.id}) }}">Participer</a>
                        </span>
        {% endif %}
        {% if attend==1%}
            <span class="tag-f-left">
                            <a href="{{ path('event_unattend', {'id': evenement.id}) }}">Annuler la Participation</a>
                        </span>
        {% endif %}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-pad">
    <div class="detail">
    <!-- Header -->
    <header class="clearfix">
        <div class="pull-left">
            <h1 class="title">
                <a href="{{ path('afficherEvenement', { 'reference': e.evenement }) }}">{{ evenement.nom }}</a>
            </h1>
            <h3 class="location">
                <a href="#">
                    <i class="fa fa-map-marker"></i>
                    {{ evenement.lieu }}
                </a>
            </h3>
        </div>
        <!-- Btn -->
        <div class="pull-right">
            <a href="{{ path('event_show', { 'id': evenement.id }) }}" class="button-sm button-theme">Details</a>
        </div>
    </header>
    <hr>
    <!-- Social media box start -->
    <div class="blog-share social-media-box sidebar-widget sidebar">

        <ul class="social-list">
            <li>
                {{ facebookButton() }}
            </li>
            <li>
                {{ twitterButton() }}
            </li>
            <li>
                {{ googleplusButton() }}
            </li>

        </ul>
    </div>
    <!-- Social media box end -->

{% endblock %}