{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>

    <div class="card-body">
        <h2 class="card-title" align="center"> LISTE DES LOGEMENTS </h2>
        <br>
        <br>



        <p class="card-description">
            <a href="{{ path('project_AfficherLogBack') }}">
                <center>
                <button type="button" class="btn btn-success btn-rounded btn-fw">Accéder Aux Actions</button>
                </center>
            </a>
        </p>
        <br>
        <br>
        <br>
        <div class="table-responsive">
            <table id="contenu" class="table table-hover" >
                <thead>
                <tr>
                    <th>
                        Nom logement
                    </th>
                    <th>
                        Adresse du Logement
                    </th>
                    <th>
                        Nombre de chambres
                    </th>
                    <th>
                        Etat Logement
                    </th>


                </tr>
                </thead>
                <tbody>
                {% for l in Logement %}
                    <tr>
                        <td>
                            {{ l.nomLog }}
                        </td>
                        <td>
                            {{ l.adresse }}
                        </td>
                        <td>
                            {{ l.nbChambre }}
                        </td>
                        <td>
                            {{ l.etatLog }}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <br>
            <br>
        </div>
    </div>




{% endblock %}

