{% extends 'base.html.twig' %}

{% block content %}


    {{ form_start(form) }}
    <table>
        <tr>
            <th colspan="3"><h1>Postuler :</h1></th>

        </tr>
        <tr>
            <td>{{ form_label(form.presentation, 'Présenter vous :') }}</td>
            <td colspan="2">{{ form_errors(form.presentation) }}
                {{ form_widget(form.presentation) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.choice, 'Pourquoi avez-vous choisi cette opportunitée ? :') }}</td>
            <td colspan="2">{{ form_errors(form.choice) }}
                {{ form_widget(form.choice) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.reason, 'Pourquoi voulez vous vivre une expérience volontaire ? :') }}</td>
            <td colspan="2">{{ form_errors(form.reason) }}
                {{ form_widget(form.reason) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.chooseYou, 'Pourquoi on doit vous chosir vous et non pas quelqu un d autre  ? :') }}</td>
            <td colspan="2">{{ form_errors(form.chooseYou) }}
                {{ form_widget(form.chooseYou) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.lvlEng, 'Niveau en Anglais :') }}</td>
            <td colspan="2">{{ form_errors(form.lvlEng) }}
                {{ form_widget(form.lvlEng) }}</td>
        </tr>
        <tr>
            <td><input type="submit" value="Postuler" /></td>
            <td colspan="2">Retour vers la liste<br></td>
        </tr>
    </table>

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('postulations_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
